@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0px auto;
  overflow-x: hidden;
}
.open-btn {
  font-size: 30px;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav ul {
  list-style-type: none;
  padding-top: 20px;
}
.sidenav a {
  padding: 10px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-inverse {
  border-radius: 0px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a .glyphicon {
  color: #31885D;
}
.navbar-inverse .navbar-nav > li > a .fa {
  color: #31885D;
}
.form-search {
  border-radius: 15px;
  padding-left: 60px;
  padding-right: 60px;
}
.glyphicon-search {
  margin-left: -40px;
}
.grouped {
  float: right;
}
.grouped .glyphicon-shopping-cart {
  padding-right: 10px;
}
.grouped .btn {
  background: linear-gradient(-90deg, #31885D, #77A758);
  border-radius: 20px;
  padding: 12px 20px;
  color: #fff;
}
.top-menu .breadcrumb {
  background: none;
}
.top-menu .breadcrumb > li a {
  color: #777;
}
.top-menu .breadcrumb > li + li:before {
  color: #777;
  content: "> ";
  padding: 0 5px;
}
.top-menu .navbar-default {
  background: none;
  border: none;
}
.top-menu .navbar-default ul li a {
  color: #000;
}
.top-menu .dropdown {
  display: inline;
  padding-right: 10px;
}
.top-menu .dropdown a {
  color: #000;
  text-decoration: none;
}
.top-menu .dropdown a:hover,
.top-menu .dropdown a:visited {
  color: #000;
  text-decoration: none;
}
.top-menu a {
  display: inline;
  padding-right: 10px;
  color: #000;
  text-decoration: none;
}
.top-menu a:hover,
.top-menu a:visited {
  color: #000;
  text-decoration: none;
}
.side-images img {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #bbb;
  max-width: 80%;
}
.center-img {
  border: 1px solid #bbb;
  max-width: 100%;
}
.build-time {
  color: #cc1916;
  font-size: .9em;
  margin-left: 60px;
}
.btnAdd {
  background-color: #31885D;
  color: #fff;
  padding: 10px;
  border-radius: 0px;
  margin-right: 10px;
  margin-left: 10px;
}
.btnAdd:hover {
  background-color: #31885D;
  color: #fff;
}
.btnRequest {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 0px;
  margin-right: 10px;
}
.btnRequest:hover {
  background-color: #333;
  color: #fff;
}
.icons i {
  margin-right: 15px;
  color: #333;
}
.icons .glyphicon {
  margin-right: 15px;
  color: #333;
}
.overview {
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 30px;
}
.mytextdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mytexttitle {
  flex-grow: 0;
  margin-right: 5px;
}
.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #eee;
}
.tab-navigation {
  background: #F6F6F6;
  padding-bottom: 30px;
}
.tab-navigation .btn-link {
  margin-left: 50px;
}
.tab-navigation .nav-tabs,
.tab-navigation .tab-content {
  margin: 40px 60px 0 60px;
}
.tab-navigation .accordion {
  background-color: #E6E6E6;
  margin-left: -20px;
  cursor: pointer;
}
.tab-navigation .accordion h6 {
  font-size: 1.6em;
  padding-left: 10px;
}
.tab-navigation .panel {
  background-color: #F6F6F6;
}
.tab-navigation .panel h4 {
  color: #31885D;
}
.tab-navigation .panel h4 #star {
  color: #cc1916;
}
.tab-navigation a {
  color: #31885D;
}
.tab-navigation .nav > li > a {
  padding: 5px 5px;
}
.tab-navigation .input-group {
  border-radius: 0px;
  padding-left: 20px;
}
.tab-navigation .input-group .input-group-btn .minus {
  background: #E6E6E6;
  color: #777;
  border-radius: 0px;
}
.tab-navigation .input-group .input-group-btn .plus {
  background: #31885D;
  color: #fff;
  border-radius: 0px;
}
.tab-navigation .input-group .form-control {
  color: #777;
}
.tab-navigation .price {
  color: #31885D;
  max-width: 100%;
  font-size: 1.8em;
  display: inline-block;
}
.tab-navigation .btn2 {
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
}
.list ul {
  list-style-type: none;
  text-align: left;
  padding-bottom: 10px;
}
.list ul h5 {
  padding-bottom: 20px;
}
.list ul li {
  text-align: left;
  padding-bottom: 10px;
}
footer {
  margin-bottom: 0px;
}
footer .navbar-inverse {
  border-radius: 0px;
}
footer .navbar-inverse .navbar-nav > li > a .fa {
  color: #bbb;
}
@media (max-width: 1199px) {
  .rigth-side {
    margin-top: -20px;
  }
  .rigth-side h1 {
    font-size: 1.7em;
  }
  .rigth-side .btnAdd {
    margin-left: -1px;
    padding-bottom: 10px;
  }
  .rigth-side .btn {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .rigth-side {
    margin-left: 120px;
  }
  .side-images img {
    max-width: 58%;
    max-height: 58%;
  }
  .center-img {
    margin-bottom: 20px;
  }
  .tab-navigation .price {
    font-size: 1.5em;
  }
  .tab-navigation .form-control {
    width: 80px;
  }
  .btn2 {
    padding-right: -10px;
    padding-left: -10px;
    font-size: .9em;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .nav {
    display: block;
    max-width: 80%;
  }
  .navbar-inverse .glyphicon-search {
    display: none;
  }
  .breadcrumb li {
    display: block;
  }
  .side-images {
    align-content: center;
  }
  .side-images img {
    max-width: 80%;
    max-height: 80%;
    display: inline-block;
    margin-left: 30px;
  }
  .center-img {
    display: block;
    margin-bottom: 10px;
  }
  .rigth-side {
    margin-left: 20px;
  }
  .rigth-side h1 {
    font-size: 1.7em;
  }
  .tab-navigation .input-group {
    padding-bottom: 20px;
  }
  .tab-navigation .input-group .plus {
    margin-left: -200px;
  }
  .tabs-down {
    margin-left: 90px ;
  }
  .tabs-down .btn-link {
    margin-left: -60px;
    padding-bottom: 20px;
  }
  footer .navbar-left li {
    display: inline-block;
  }
  footer .navbar-right li {
    display: inline-block;
  }
}
@media (max-width: 685px) {
  .side-images {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .side-images img {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .center-img {
    display: block;
    margin: 10 auto;
    border: 1px solid #bbb;
  }
  .center-img img {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
