@import url('https://fonts.googleapis.com/css?family=Lato');

@primary-col: #fff;
@sec-col:#31885D;
@light-grey: #777;
@border-col: #bbb;
@form-col-grey: #777;



body{
	font-family: 'Lato', sans-serif;
	margin: 0px auto;
	overflow-x: hidden;
}

.open-btn{
		font-size:30px; 
		cursor:pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    ul{
		list-style-type: none;
		padding-top: 20px;
	}
    a {
	    padding: 10px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 15px;
	    color: #818181;
	    display: block;
	    transition: 0.3s;

	    &:hover{
	    	 color: #f1f1f1;
	    }
	}

	 .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
}


.navbar-inverse {
	
	border-radius: 0px;
	.navbar-nav {
		
		> li {
			>a{
				color: @primary-col;

				.glyphicon{
					color:@sec-col;
				}

				.fa{
					color:@sec-col;
				}
			}
		}
	}
}


.form-search{
	border-radius: 15px;
	padding-left: 60px;
	padding-right: 60px;
}

.glyphicon-search{
	margin-left: -40px;
}

.grouped {
	float: right;
	.glyphicon-shopping-cart{
		padding-right: 10px;
	}

	.btn {
		background: linear-gradient(-90deg, @sec-col, #77A758);
		border-radius: 20px;
		padding: 12px 20px;
		color: @primary-col;
	}
}

.top-menu{
	.breadcrumb {
		background: none;

			> li {
				a{
					color: @light-grey;
				}
			 + li:before {
		    color: @light-grey;
		    content: "> ";
		    padding: 0 5px;
		    

		}
	}
}

	.navbar-default{
		background: none;
		border: none;
		ul{
			li{
				a{
				color: #000;
				}
			}
		}
			
	}
	
	.dropdown {
		
		display: inline;
		
		padding-right: 10px;
		a{
			color: #000;
			text-decoration: none;

			&:hover, &:visited{
				color: #000;
				text-decoration: none;
			}
		}
	}
		a{
			display: inline;
			
			padding-right: 10px;
			color: #000;
			text-decoration: none;

				&:hover, &:visited{
					color: #000;
					text-decoration: none;
				}
		}

	
}



.side-images{ //se pokazuva dupla linija na ramkata poradi toa shto se secheni slikite od prethodniot primer

	img{
		display: block;
		margin-bottom: 5px;
		border: 1px solid @border-col;
		max-width: 80%;
	}
}

.center-img{
	border: 1px solid @border-col;
	max-width: 100%;
}



	.build-time
	{
		color: #cc1916;
		font-size: .9em;
		margin-left: 60px;
	}
	
	.btnAdd{
		background-color: @sec-col;
		color:@primary-col;
		padding: 10px;
		border-radius: 0px;
		margin-right: 10px;
		margin-left: 10px;

		&:hover{
			background-color: @sec-col;
			color:@primary-col;
		}
	}

.btnRequest{
	background-color: #333;
		color:@primary-col;
		padding: 10px;
		border-radius: 0px;
		margin-right: 10px;

		&:hover{
			background-color:#333;
			color:@primary-col;
		}
}

.icons 
{
	i{
		margin-right: 15px;
		color:#333;
	}
	
	.glyphicon {
		margin-right: 15px;
		color:#333;
	}

}

.overview{
	margin-left: 70px;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.mytextdiv{
  display:flex;
  flex-direction:row;
   align-items: center;
}
.mytexttitle{
  flex-grow:0;
  margin-right: 5px;
}

.divider{
  flex-grow:1;

  height: 1px;
  background-color: #eee;
}

.tab-navigation{
	
	background: #F6F6F6;

	.btn-link{
		margin-left: 50px;
	}

	.nav-tabs,.tab-content{
		margin: 40px 60px 0 60px;

	}
	.accordion {
		background-color:#E6E6E6;
		margin-left: -20px;
		cursor: pointer;



		h6{
			font-size: 1.6em;
			padding-left: 10px;
		}

	}

	.panel{
		background-color: #F6F6F6;

		h4{
			color: @sec-col;
			

			#star{
				color: #cc1916;
			}

		}
		}

	a{
		color: @sec-col;
	}

	.nav { 

		> li {

			> a {

			padding: 5px 5px;

			}
		}

	}

	.input-group{
		border-radius: 0px;
		padding-left: 20px;
		.input-group-btn{


			.minus{
				background: #E6E6E6;
				color:@form-col-grey;
				border-radius: 0px;

			}

			.plus{
				background: @sec-col;
				color:@primary-col;
				border-radius: 0px;

			}
		}
		.form-control{
			color:@form-col-grey;
		}
		
	}

	.price{
		color:@sec-col;
		max-width: 100%;
		font-size: 1.8em;

		display: inline-block;

	}

.btn2{
	display: inline;
	padding-right: 30px;
	padding-left: 30px;
}
padding-bottom: 30px;
		
}
.list {
	ul{
		 list-style-type: none;
		 text-align: left;
		 padding-bottom: 10px;

		 h5{
		 	padding-bottom: 20px;
		 }
		
		 li{
		 	text-align: left;
		 	padding-bottom: 10px;
		 }

	}
}

footer{
	margin-bottom: 0px;


	.navbar-inverse {

		border-radius: 0px;

		.navbar-nav {
			> li { 
				> a{
					.fa{
						color:@border-col;
					}
				}	
			}
		}
	}
}
@media (max-width: 1199px){

	
	
	.rigth-side{
		 margin-top: -20px;
		h1{
			font-size: 1.7em;
		}
		.btnAdd{
			margin-left: -1px;
			padding-bottom: 10px;
					}
		.btn {
			display: inline-block;
		}


	}


}
@media (max-width: 991px){
	
	.rigth-side {
		margin-left: 120px;
	}

	.side-images{
		img {
			max-width: 58%;
			max-height: 58%;
		}
	}
	
	.center-img {
		margin-bottom: 20px;
	}
	.tab-navigation {

		.price{
			font-size: 1.5em;
		}

			.form-control {
				width: 80px;
			}
		
	}

	.btn2 
	{
		padding-right: -10px;
		padding-left: -10px;
		font-size: .9em;
	}
}

@media (max-width: 767px) {
	
	.navbar-inverse {
		.nav{
			display: block;
			max-width: 80%;
		}
		.glyphicon-search {
				display: none;
		}	
		
	}

	.breadcrumb{
		li {
			display: block;
		}
	}
	
	.side-images {
		align-content: center;
		
			img {
				max-width: 80%;
				max-height: 80%;
				display: inline-block;
				margin-left: 30px;
				
			}
		
		
	}

	.center-img {
		
			display: block;
			margin-bottom: 10px;
		
	}

	.rigth-side{
		
		margin-left: 20px;
		 h1{
		 	font-size: 1.7em;
		 }
	}

	.tab-navigation {

		.input-group{ 
			padding-bottom: 20px;
			

			.plus {
				margin-left: -200px;
			}

		}
	}

	.tabs-down {
		margin-left: 90px ;


		.btn-link {
			margin-left: -60px;
			padding-bottom: 20px;
		}
		
	}


	footer {
		.navbar-left{
				
			li {
				display: inline-block;
						
				}
		}
		.navbar-right {

			li {
				display: inline-block;

				}
			}	
	}

}

@media (max-width: 685px){
	.side-images {
		margin-bottom: 10px;
		margin-left: 20px;

			img{
				display: inline-block;
				
				
				margin: 0 auto;
				margin-bottom: 10px;

			}

		}

	.center-img{
		display: block;
		margin: 10 auto;
		border: 1px solid #bbb;
		img{

			margin-bottom: 20px;
		}
		

	

	}
}


@media screen and (max-height: 450px) {
  .sidenav {
  	padding-top: 15px;

  	a {
  		font-size: 18px;
  	}
  }
}


